<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }

        .nav-pills > .nav-item > .active {
          color : white;
          background-color : black;
        }
      
      </style>

    <link href="../assets/bootstrapcss/style.css" rel="stylesheet">

</head>
<body>
    <header class="container">
        <div class="d-flex flex-fill py-3 mb-4 border-bottom p-3">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none text-body">
            <span class="fs-4 ms-3">HKJang's Blog</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">About Me</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-body">Projects</a></li>
            <li class="nav-time"><a href="index_admin" class="nav-link text-body">Modify Index</a></li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-2">
            <input type="search" class="form-control form-control-dark ms-3" placeholder="Search..." aria-label="Search">
          </form>
          <form>
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </header>
  <main class="container">
    <%for(var i=0;i<Object.keys(result).length-1;i++) {
      if(i % 2 == 0){
      %><div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><%=result[i].title%></h2>
        <p class="lead"><%=result[i].content%></p>
      </div>
      <div class="col-md-5">
        <img src="<%=result[i].image_src%>" class="img-fluid" width="100%" height="100%">
      </div>
    </div>
    <hr class="featurette-divider">
    <%}
    else{
      %><div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><%=result[i].title%> </h2>
        <p class="lead"><%=result[i].content%></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="<%=result[i].image_src%>" class="img-fluid" width="100%" height="100%">
      </div>
    </div>
    <hr class="featurette-divider">
    <%
    }
  }%>

  </main>
  <footer class="container">

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>